In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('C:\\Users\\s1597\\Desktop\\Python\\Machine Learning\\Machine Notes\\Pandas\\complex_dataset.csv')

In [5]:
#查看数据前面五行
data.head()

,Age,Salary,Years_of_Experience,Department,Location,Performance_Score,Gender,Education_Level
0,56,64674,11,Sales,San Francisco,3.381439,Female,Master
1,69,65854,2,Sales,Los Angeles,1.688442,Male,Bachelor
2,46,76271,44,Marketing,San Francisco,4.702089,Male,High School
3,32,103688,17,HR,Los Angeles,1.273336,Male,High School
4,60,68518,39,Marketing,New York,2.721499,Male,PhD

In [7]:
#查看数据的形状返回 ( 行数，列数)
data.shape

(1000, 8)

In [11]:
#查看列表列名
data.columns

Index(['Age', 'Salary', 'Years_of_Experience', 'Department', 'Location',
       'Performance_Score', 'Gender', 'Education_Level'],
      dtype='object')

In [13]:
#查看索引名
data.index

RangeIndex(start=0, stop=1000, step=1)

In [15]:
#查看每列的数据类型
data.dtypes

Age                      int64
Salary                   int64
Years_of_Experience      int64
Department              object
Location                object
Performance_Score      float64
Gender                  object
Education_Level         object
dtype: object

## Pandas数据结构,Series和DataFrame

### Series

Series是类似于一维数组的对象，它由一组数据（不同数据类型）以及一组与之相关的索引组成

### 仅有数据列表即可产生最简单的Series

In [27]:
s1=pd.Series([1,'data',1.2,'dword'])

In [29]:
s1

0        1
1     data
2      1.2
3    dword
dtype: object

In [31]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
# 获取数据

In [35]:
s1.values

array([1, 'data', 1.2, 'dword'], dtype=object)

### 创建一个具有标签索引的Series

In [40]:
s2=pd.Series(['hello',11,2.2],index=['a','b','c'])

In [42]:
s2

a    hello
b       11
c      2.2
dtype: object

## DataFrame 
### DAtaFrame 是表格型数据结结构,每列可以是不同的数据类型,既有行索引index,也有列索引columns

## DataFrame  
DataFrame 是一种二维的表格型数据结构，类似于电子表格或 SQL 表中的数据表。它由行索引（index）和列索引（columns）组成，每列可以存储不同类型的数据（如整数、浮点数、字符串等）。  

### DataFrame 的特点  
1. **行索引和列索引**：既有行索引（index），也有列索引（columns），可以方便地对数据进行定位和操作。  
2. **多种数据类型**：每列可以存储不同的数据类型，例如整数、浮点数、字符串等。  
3. **灵活的数据操作**：支持对数据的增删改查、分组、聚合、排序等操作。  
4. **与其他数据源的集成**：可以轻松地从 CSV 文件、Excel 文件、SQL 数据库等多种数据源中读取数据，或将数据导出到这些格式。  

### 创建 DataFrame 的方式  
1. **从字典创建**：  
    ```python
    data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Gender': ['F', 'M', 'M']}
    df = pd.DataFrame(data)
    print(df)
    ```

2. **从二维数组创建**：  
    ```python
    data = [[1, 'Alice', 25], [2, 'Bob', 30], [3, 'Charlie', 35]]
    df = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])
    print(df)
    ```

3. **从 CSV 文件读取**：  
    ```python
    df = pd.read_csv('file_path.csv')
    ```  

### 常用操作  
- 查看数据：`df.head()`、`df.tail()`  
- 查看形状：`df.shape`  
- 查看列名：`df.columns`  
- 查看索引：`df.index`  
- 查看数据类型：`df.dtypes`  
- 选择列：`df['column_name']`  
- 选择行：`df.loc[row_index]` 或 `df.iloc[row_position]`